*,*::before,*::after{
  box-sizing: border-box;
  
}

html{
  font-size: 62.5%;
}

body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #E5E5E5;
}

.main-container{
  max-width: 700px; 
  height: 150vh;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.container{
  max-width: 600px;
  margin:0 auto;
}
/********** Nav Bar****************/

.Navbar{
  background-color: #F55A5A;
  height:60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Nav-logo{
  width:24px;
  height: 24px;
  align-self: center;
  margin-right: 3px;
}

.Nav-text{
  color:#FFFFFF;
  font-size: 14px;
  align-self: center;
}

/******************Card Component********************/

.card-container{
  display: flex;
  gap:20px;
  color:#2B283A;
  align-items: center;
  margin: 40px;
}

.card-location{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.card-image{
  min-width: 150px;
  max-height: 190px;
  border-radius: 5px;
  

}

.location-logo{
  width:10px;
  height:9px;
  
}

.card--country{
  text-transform: uppercase;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.17em;
  font-weight: 400;
  margin-left:5px;
  margin-right: 12px;
  
  
}

.card--map{
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    text-decoration-line: underline;
    color: #918E9B;
}

.location-name{
    margin-top: 0;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;  
    
}

.location-date{
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;  
   
}

.location-description{
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}